.bg-logo-hero-search{
    background: url('https://s3-0222ftc1-grupo2-frontend.s3.us-east-2.amazonaws.com/logo/logo_md_variant_outline_violet_500.svg') repeat repeat, rgb(109 40 217);
    background-position: bottom 50% left calc(50% + 300px);
    background-size: auto 150px
}